spring:
  application:
    name: "Blogging platform"
  config:
    import: file:.env[.properties]
  graphql:
    graphiql:
      enabled: true
  datasource:
    url: ${DB_URL}
    driver-class-name: org.postgresql.Driver
    username: ${DB_USER}
    password: ${DB_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: update        # create / update / validate / none
    show-sql: true
  data:
    web:
      pageable:
        default-page-size: 10
        max-page-size: 100
        one-indexed-parameters: false

springdoc:
  api-docs:
    enabled: true
  swagger-ui:
    enabled: true