spring:
  application:
    name: Blogging platform
  graphql:
    graphiql:
      enabled: false
  datasource:
    url: ${DB_URL}
    driver-class-name: org.postgresql.Driver
    username: ${DB_USER}
    password: ${DB_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
  data:
    web:
      pageable:
        default-page-size: 10
        max-page-size: 50
        one-indexed-parameters: false

springdoc:
  api-docs:
    enabled: false
  swagger-ui:
    enabled: false